* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.7);
}

button {
	border-radius: 0px;
	border-color: black;
	text-decoration-color: #ffffff;
	color: #ffffff;
	background-color: rgba(179, 75, 0, 0.2);
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 32px 0px;
	transition: all 0.5s;
	min-width: 175px;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 26%;
}

button:focus,
button:active {
	background-color: rgb(179, 75, 0);
	outline-style: none;
	/* outline-style: solid;
	outline-width: 4px;
	outline-color: #ffb922;
	outline-radius: 32px; */
	border-radius: 16px;
	background-size: 29%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	margin: 0px 4px;
}


#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
