/***
 *    ┏┓┓ ┏┏┓┓┏┳┓┏┓  ┏┓┓┏┏┓┳┓┏┓┏┓┳┓┏┓┏┓┏┳┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┃ ━━┣ ┃┃┣ ┣┫┣ ┃┃┣┫┣ ┗┓ ┃
 *    ┗┛┗┻┛┛┗┗┛┛┗┗┛  ┗┛┗┛┗┛┛┗┻ ┗┛┛┗┗┛┗┛ ┻
 *
 */

/* Colors - Gruvbox Material Theme */
@define-color background 	    #282828DD;
@define-color background-alt 	    #3c3836;
@define-color background-alt-darker #32302f;
@define-color accent-normal    	    #b8bb26;
@define-color accent-error     	    #fb4934;
@define-color bordercolor           #fabd2f;
@define-color fontcolor 	    #ebdbb2;
@define-color fontaltcolor 	    #1d2021;

/* Config */

* {
  font-family: "MesloLGS NF";
  font-style: normal;
  font-size: medium;
}

/* Notification */

.notification {
  background: @background;
  color: @fontcolor;
  border: 2px solid @bordercolor;
  border-radius: 8px;
  padding: 8px;
}

.notification-background {
  padding: 8px 0px;
}

.image {
  margin-right: 24px;

  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;

  border-radius: 9999px;

  background-size: cover;
  background-position: center;

  -gtk-icon-transform: none;
}

.image image {
  border-radius: 9999px;
}

/* Notification text */
.body {
  color: @fontcolor;
  margin-top: 8px;
  margin-bottom: 2px;
}

.summary {
  font-size: 10px;
  font-weight: 700;
  background: transparent;
  color: @accent-normal;
  text-shadow: none;
  font-size: 1rem;
}

.time {
  font-size: 10px;
  font-weight: 700;
  background: transparent;
  color: @fontcolor;
  text-shadow: none;
  margin-right: 8px;
}

.close-button {
  background-color: @accent-error;
  color: @fontaltcolor;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.notification-default-action:hover,
.notification-action {
}

.notification-action > button {
  border-radius: 2px;
  padding: 4px;
  cursor: pointer;
  background: @background-alt;
}

.notification-action > button:hover {
  color: @fontaltcolor;
  background: @accent-normal;
}

.notification.critical progress {
  background-color: @accent-error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @accent-normal;
}

/* Control Center */

.control-center {
  background-color: @background;
  color: @fontcolor;
  border: 2px solid @bordercolor;
  padding: 2px;
  /* box-shadow: inset 0px 00px 15px 0px rgba(66, 68, 90, 1); */
}

/* Notifications expanded-group */

.notification-group {
  background-color: transparent;
  margin: 2px;
  font-size: 8px;
}

.notification-group-icon {
  color: @fontcolor;
  margin: 0px 8px 0px 12px;
  --gtk-icon-size: 12px;
  size: 12px;
}

.notification-group-headers {
  color: @fontcolor;
  margin: 2px 0px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @accent-normal;
  color: @fontaltcolor;
  margin-left: 2px;
  border-radius: 6px;
  padding: 2px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}

/* widget title */
.widget-title {
  color: @fontcolor;
}
.widget-title > button {
  font-size: 0.9rem;
  color: @fontcolor;
  background: @background-alt-darker;
  box-shadow: none;
}

.widget-title > button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}

/* widget button grid */
button {
  border: 0px;
  min-width: 35px;
  background: @background-alt;
}

.widget-buttons-grid {
  font-size: medium;
  background: @background-alt-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  color: @fontcolor;
  margin: 0px;
  padding: 18px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: alpha(@fontcolor, 0.55);
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @accent-normal;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: @fontaltcolor;
}

/* dnd widget */
.widget-dnd {
  background: @background-alt-darker;
  border: 1px solid transparent;
  font-size: medium;
  color: @fontcolor;
}

.widget-dnd > label {
  color: @fontcolor;
}

.widget-dnd > switch {
  background: @background-alt;
  color: @fontcolor;
  border-radius: 6px;
  border: 2px solid transparent;
}

.widget-dnd > switch:checked {
  background: @accent-error;
}

/* volume & backlight widget */

.widget-volume {
  background: @background-alt-darker;
  color: @fontcolor;
  font-size: medium;
  margin: 8px;
}

.widget-volume label {
  font-size: 1.5rem;
  /* color: @accent-normal; */
  margin-left: 12px;
}

.widget-volume trough highlight {
  background: @accent-normal;
}

.widget-backlight {
  background: @background-alt-darker;
  color: @fontcolor;
  font-size: medium;
}

/* music player widget */
.widget-mpris {
  background: transparent;
  margin: 8px;
}

.widget-mpris button {
  background-color: transparent;
  border-radius: 6px;
}

.widget-mpris button:hover {
  background-color: @accent-normal;
  color: @fontaltcolor;
}

/* sliders in backlight and volume */

trough slider {
  background: @fontcolor;
}

trough slider:hover {
  background: @accent-normal;
}

trough highlight {
  background: @accent-normal;
}
